<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>신규 메뉴 등록하기</h1>
    <form action="/menu/regist" method="post">
        <label>메뉴 이름 : </label> <input type="text" name="menuName"> <br>
        <label>메뉴 가격 : </label> <input type="number" name="menuPrice"> <br>
        <label>카테고리 : </label>
        <select name="categoryCode" id="categoryCode"></select> <br>
        <label>판매 상태 :</label>
        <select name="orderableStatis" id="orderableStatis">
            <option value="Y">판매 가능</option>
            <option value="N">판매 불가</option>
        </select> <be></be>
        <input type="submit" value="메뉴 등록">
    </form>
<script>
    fetch('/menu/category')
    .then(res => res.json())
    .then(data => {
        const categoryCode = document.getElementById('categoryCode');
        for(let index in data){
            const option = document.createElement('option');
            option.value = data[index].categoryCode;
            option.textContent = data[index].categoryName;

            categoryCode.appendChild(option);
        }
    })
</script>
</body>
</html>