<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>[[${menuPrice}]]원을 초과하는 메뉴 목록</h1>
    <table>
        <tr>
            <th>메뉴번호</th>
            <th>메뉴이름</th>
            <th>메뉴가격</th>
            <th>카테고리코드</th>
            <th>판매상태</th>
        </tr>
        <tr th:each="menu : ${menuList}">
            <td th:text="${menu.menuCode}"></td>
            <td th:text="${menu.menuName}"></td>
            <td th:text="${menu.menuPrice}"></td>
            <td th:text="${menu.categoryCode}"></td>
            <td th:text="${menu.orderableStatus}"></td>
        </tr>
    </table>
    <button onclick="paging(0)">맨앞으로</button>
    <button onclick="paging('previous')">이전</button>
    <button onclick="paging()"></button>
    <button onclick="paging('next')">다음</button>
    <button onclick="paging('nextnext')">맨뒤로</button>

<script>
    function paging(element){

    }
</script>
</body>
</html>